<div class="bg-brand-200 min-h-screen flex absolute right-0 left-0 m-0 -z-10 items-center justify-center px-16">
    <div class="relative w-full max-w-lg">
        <div
            class="absolute -top-4 -left-4 w-96 h-96 bg-brand-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob">
        </div>
        <div
            class="absolute top-4 -right-4 w-96 h-96 bg-brand-400 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000">
        </div>
        <div
            class="absolute -bottom-10 left-20 w-96 h-96 bg-brand-350 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000">
        </div>
    </div>
</div>