<table class="table-fixed overview-table">
    <thead>
        <tr>
            <th>Location</th>
            <th>Device Number</th>
            <th>Amount watching</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Room 02.105</td>
            <td>Camera 011</td>
            <td>
                <div class="amount-people">
                    <app-icon class="text-posit-200" name="group"></app-icon>
                    <p>2 people watching</p>
                </div>
            </td>
            <td>
                <app-status></app-status>
            </td>
        </tr>
        <tr>
            <td>Room 02.105</td>
            <td>Camera 011</td>
            <td>
                <div class="amount-people">
                    <app-icon class="text-neutral-400" name="group"></app-icon>
                    <p>0 people watching</p>
                </div>
            </td>
            <td>
                <app-status type="inactive"></app-status>
            </td>
        </tr>
        <tr>
            <td>Room 02.105</td>
            <td>Camera 011</td>
            <td>
                <div class="amount-people">
                    <app-icon class="text-neutral-400" name="group"></app-icon>
                    <p>0 people watching</p>
                </div>
            </td>
            <td>
                <app-status></app-status>
            </td>
        </tr>
    </tbody>
</table>