<div class="container content app-page" role="main">
    <div class="top-page">
        <div class="page-title">
            <p>Your permissions</p>
            <h1>Give access</h1>
        </div>
    </div>

    <div class="surface surface-center">
        <h2 class="text-brand-500">Allow access to camera and microphone</h2>
        <div class="flex flex-row flex-wrap items-end gap-4 justify-end">
            <app-toggle class="w-full" text="Give access"></app-toggle>
            <app-button class="grow" [type]="'disabled'" text="Confirm"></app-button>
        </div>
    </div>
</div>