<div class="conten" role="main">

    <div class="login-header">
        <h2>Neolook Solutions</h2>
        <h3>S2S Family</h3>
    </div>
    <div class="login-container bg-white shadow-lg w-80 rounded-lg p-8 flex flex-col">
        <img class="logo">
        <h2 class="text-center mb-10">Login</h2>
        <app-input class="mb-4" [labeltext]="'Your e-mailadress'" [type]="'email'" text="E-mail"></app-input>
        <app-input class="mb-10" [labeltext]="'Your password'" [type]="'password'" text="Password"></app-input>
        <app-button [extraClass]="'md:w-full'" class="text-center" text="Login"></app-button>
    </div>
</div>