<div class="content bg-brand-200 h-screen" role="main">

    <div class="login-header">
        <h2>Neolook Solutions</h2>
        <h3>S2S Family</h3>
    </div>
    <div class="login-container bg-white shadow-lg w-80 rounded-lg p-10 flex flex-col">

        <h2 class="text-center mb-10">Login</h2>
        <app-input class="mb-4" [labeltext]="'Your e-mailadress'" [type]="'email'" text="E-mail"></app-input>
        <app-input class="mb-10" [labeltext]="'Your password'" [type]="'password'" text="Password"></app-input>
        <app-button [extraClass]="'w-full'" class="text-center" text="Login"></app-button>
       </div>

</div>