<div class="container content app-page" role="main">
    <div class="top-page">
        <div class="page-title">
            <p>Rooms</p>
            <h1>Overview</h1>
        </div>
        <div class="action-button">
            <app-button [iconNameAfter]="'refresh'" [type]="'soft'" text="Refresh"></app-button>
        </div>
    </div>
    <app-table></app-table>
    <div class="bottom-page-right">
        <div class="action-button">
            <app-button [iconNameAfter]="'visibility_off'" [type]="'outline'" text="Turn all devices off"></app-button>
        </div>
        <div class="action-button">
            <app-button [iconNameAfter]="'add'" [type]="'soft'" text="Add new device"></app-button>
        </div>
    </div>