<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="content" role="main">


  <h3 class="comp-title">Typography</h3>
  <div class="comp-group">
    <h1>This is the Heading 1</h1>
    <h2>This is the Heading 2</h2>
    <h3>This is the Heading 3</h3>
    <p>This is the Baseline Paragraph</p>
    <p class="p-sm">This is the smaller Paragraph</p>
    <p class="subtext">This is the smaller Subtext</p>
  </div>

  <h3 class="comp-title">Buttons</h3>
  <div class="comp-group">
    <app-button text="Primary button"></app-button>
    <app-button [type]="'outline'" text="Outline button"></app-button>
    <app-button [type]="'soft'" text="Soft button"></app-button>
    <app-button [type]="'disabled'" text="Disabled button"></app-button>

    <app-button [iconNameBefore]="'check'" text="Primary button"></app-button>
    <app-button [iconNameAfter]="'arrow_forward'" [type]="'outline'" text="Outline button"></app-button>
  </div>

  <h3 class="comp-title">Inputs</h3>
  <div class="comp-group">
    <app-input [labeltext]="'Your e-mailadress'" [type]="'email'" text="E-mail"></app-input>
    <app-input [labeltext]="'Your password'" [type]="'password'" text="Password"></app-input>
  </div>

  <h3 class="comp-title">Cards</h3>
  <app-card title="People watching right now" amount="2" iconName="group"></app-card>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>