<div class="tabs-container border-b-2 border-brand-200 mb-10">
    <ul class="flex flex-wrap -mb-2px">
        <li class="mr-4">
            <a href="#" class="text-neutral-300 p-2 inline-block rounded-t-lg border-b-2 border-transparent hover:text-neutral-400 hover:border-brand-300 dark:hover:text-brand-400"> <a href="#">{{firstEntry}}</a></a>
        </li>
        <li class="mr-4">
            <a href="#" class="p-2 inline-block text-brand-500 rounded-t-lg border-b-2 border-brand-500 active" aria-current="page">{{secondEntry}}</a>
        </li>
    </ul>
</div>