<div class="container content app-page" role="main">
    <div class="top-page">
        <div class="page-title">
            <p>Welcome Mom & Dad</p>
            <h1>Edit name</h1>
        </div>
    </div>

    <div class="surface surface-center">
        <h2 class="text-brand-500">What is his / her name ?</h2>
        <div class="flex flex-row flex-wrap items-end gap-4 justify-end content-end">
            <app-input class="grow" [labeltext]="'First Name'" [type]="'text'" text=""></app-input>
            <app-button class="grow" [type]="'disabled'" text="Confirm"></app-button>
        </div>
    </div>

    
</div>