<div class="container content app-page" role="main">
    <div class="top-page">
        <div class="page-title">
            <p>Camera 325</p>
            <h1>Room - 02.105</h1>
        </div>
        <div class="top-page-left">
            <div class="action-button">
                <app-button [iconNameAfter]="'arrow_forward'" [type]="'outline'" text="Watch livestream"></app-button>
            </div>
            <div class="action-button">
                <app-button [iconNameBefore]="'visibility_off'" text="Turn device off"></app-button>
            </div>
        </div>
    </div>
    <app-tab-container [firstEntry]="'Parents'" [secondEntry]="'Settings'"></app-tab-container>
    <div class="comp-group flex gap-4 flex-wrap grow shrink-0 basis-full items-stretch">
        <app-actioncard></app-actioncard>
        <app-card title="Total views" [color]="'sum'" amount="4" iconName="trending_up"></app-card>
    </div>
    <h2>Parents</h2>
    <div class="bottom-page-left">
        <div class="action-button">
            <app-button [iconNameAfter]="'person_add'" text="Add parent"></app-button>
        </div>
        <div class="action-button">
            <app-button [iconNameAfter]="'person_add_disabled'" [type]="'outline'" text="Stop parent registration">
            </app-button>
        </div>
    </div>
</div>