/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;    

@layer base {
    body {
        font-family: 'Work Sans', sans-serif;
        @apply text-neutral-500 min-h-screen bg-gradient-to-br from-brand-100 to-brand-200;
    }

    .comp-title {
        @apply text-neutral-300;
        @apply mb-2;
    }

    .comp-group {
    @apply mb-8;
}

    .comp-group > * {
    @apply mb-2;
}

    h1 {
        @apply text-2xl font-medium;
    }

    h2 {
        @apply text-xl font-medium mb-4;
    }

    h3 {
        @apply text-lg font-medium;
    }

    p {
        @apply text-base font-normal;
    }
    .p-sm {
        @apply text-sm font-normal;
    }

    .subtext {
        @apply text-xs font-light;
    
    }
    

    .top-page {
        @apply text-brand-600 mb-10 flex flex-wrap gap-y-4 justify-between items-end;
    }

    .bottom-page {
        @apply flex flex-wrap gap-4 justify-end;
    }
    
    .page-title, .top-button {
        @apply w-full md:w-fit;
    }

    .top-button {
        @apply w-full md:w-fit;
    }

    
   
    .surface {
        @apply bg-white rounded-lg p-10 flex flex-col gap-4 mb-10 shadow-lg;
    }

    .content {
        @apply flex flex-col gap-8 mt-4;
    }

    .container {
        @apply p-4 md:p-0;
    }

    .material-icons-round {
        font-weight: normal;
        font-style: normal;
        font-size: 20px;  /* Preferred icon size */
        display: block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }

};
@layer utilities {
    .animation-delay-2000 {
      animation-delay: 2s;
    }
    .animation-delay-4000 {
      animation-delay: 4s;
    }
  }
  